.container {
    margin: 15px;
    font-family: Arial, sans-serif;
    background-color: none;
    padding: 0px;
  }
  
  .title {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align : center
  }
  
  .text {
    color: white;
    font-size: 2rem;
    line-height: 1.6;
    margin : 170px;
    text-align : center
  }
  
  