/* components/Hero.module.css */
.heroSection {
    background-color: none;
    color: white;
    padding: 5rem 0;
    text-align: center;
}

.heroContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.heroSubtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
